<!doctype html>
<html ng-app="Arsenal"> <!-- module name -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Arsenal</title>

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/bootstrap.css">

        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/animations.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script> -->
    </head>
    <body ng-controller="MainCtrl">

<!-- nav bar -->
        <nav class="navbar navbar-default navbar-fixed-top navBarFixedSize">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ng-click="setCurrentPosition(null); clearFilter()" href="#">FOOTBALL CLUB MANAGER</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search Players" ng-model="searchInput">
            </form>
              <ul class="nav navbar-nav navbar-right">
<!--                 <li><a href="#">Home</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Positions</a></li> -->
                <li><a href="#" data-target="#newPlayerModal" data-toggle="modal" ng-click="startCreating()"/><i class="fa fa-plus-circle" aria-hidden="true"></i>&#32 Create Player</a></li>
              </ul>
            </div>
          </div>
        </nav>
<!--         end nav bar -->

        




        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar sidebarPosition">

                    <ul class="nav nav-sidebar">
                        <li class="navIndent">Categories</li>
                        <li ng-repeat="position in positions" ng-class="{'active':isCurrentPosition(position)}">
                            <a href="#" ng-click="setCurrentPosition(position)" >{{position.title}}</a>
                        </li>
                        <hr> <!-- split categories -->
                        <li class="navIndent">Sort by</li>
                        <li>
                            <a href="#" ng-click="playerSort = 'nameF'" >First Name</a>
                        </li>
                        <li>
                            <a href="#" ng-click="playerSort = 'nameL'" >Last Name</a>
                        </li>
                        <li>
                            <a href="#" ng-click="playerSort = 'squadNo'" >Number</a>
                        </li>
                        <li>
                            <a href="#" ng-click="playerSort = 'position'" >Position</a>
                        </li>
                        <li>
                            <a href="#" ng-click="clearFilter(); changeListIcon();" data-toggle="collapse" data-target="#nationSort" id="nationalityList">
                                Nationality
                                <i class="fa fa-plus-circle" ng-class="buttonIconPlus"></i>
                                <i class="fa fa-minus-circle" ng-class="buttonIconMinus"></i>

                            </a>
                        </li>
                            <ul class="collapse nav" id="nationSort">
                                <li><a href="#" ng-click="playerFilter = 'Argentina'">Argentina</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Brazil'">Brazil</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Chile'">Chile</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Colombia'">Colombia</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Costa Rica'">Costa Rica</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Czech Republic'">Czech Republic</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Egypt'">Egypt</a></li>
                                <li><a href="#" ng-click="playerFilter = 'England'">England</a></li>
                                <li><a href="#" ng-click="playerFilter = 'France'">France</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Germany'">Germany</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Poland'">Poland</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Spain'">Spain</a></li>
                                <li><a href="#" ng-click="playerFilter = 'Switzerland'">Switzerland</a></li>
                            </ul>

                        <hr> <!-- start of filtering -->

                        <li>
                            <a href="#" ng-click="clearFilter(); setCurrentPosition(null)">Reset Filters</a>
                        </li>
<!--                         <li class="navIndent">Filter by Nation</li>
                        <li>
                            <a href="#" ng-click="playerFilter = 'England'" >ENG Test</a>
                        </li>
                        <li ng-repeat="nationality in players">
                            <a href="#" ng-click="{'playerFilter' = setCurrentNation(player)}" >{{player.nationality}}</a>
                        </li>
                         -->

                    </ul>
                </div> <!-- end side bar list -->
                <div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 main">



                    <!-- new player section -->
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="newPlayerModal" aria-labelledby="newPlayerModal">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                                <h3 class="modal-title" id="playerModal" class="pull-left"><i class="fa fa-plus-circle"></i> Create Player<h3>
                        </div>
                            <!-- creating section -->
                            <div ng-if="shouldShowCreating()" class="modal-body">

                                <form class="create-form" ng-show="isCreating" role="form" ng-submit="createPlayer(newPlayer)" novalidate> <!-- form to create player -->
                                    <div class="form-group">
                                        <label for="newPlayerNameF"><i class="fa fa-user-circle-o"></i> First Name</label>
                                        <input type="text" class="form-control" id="newPlayerNameF" ng-model="newPlayer.nameF" placeholder="Antoine">
                                    </div>

                                    <div class="form-group">
                                        <label for="newPlayerNameL"><i class="fa fa-user-circle-o"></i> Last Name</label>
                                        <input type="text" class="form-control" id="newPlayerNameL" ng-model="newPlayer.nameL" placeholder="Griezmann">
                                    </div>

                                    <div class="form-group">
                                        <label for="newPlayerPic"><i class="fa fa-picture-o"></i> Picture</label>
                                        <input type="text" class="form-control" id="newPlayerPic" ng-model="newPlayer.url" placeholder="assets/img/griezmann.jpg">
                                    </div>

                                    <div class="form-group">
                                        <label for="newPlayerNum"><i class="fa fa-star"></i> Number</label>
                                        <input type="text" class="form-control" id="newPlayerNumber" ng-model="newPlayer.squadNo" placeholder="7">
                                    </div>

                                    <div class="form-group">
                                        <label for="newPlayerNationality"><i class="fa fa-flag"></i> Nationality</label>
                                        <input type="text" class="form-control" id="newPlayerNationality" ng-model="newPlayer.nationality" placeholder="France">
                                    </div>
                
                                    <div class="form-group">
                                        <label for="newPlayerPosition"><i class="fa fa-cog"></i> Position Category</label>
                                        <select class="form-control" id="newPlayerPosition" ng-model="newPlayer.position">
                                          <option>Goalkeepers</option>
                                          <option>Defenders</option>
                                          <option>Midfielders</option>
                                          <option>Forwards</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="newPlayerSpecPosition"><i class="fa fa-cogs"></i> Player Position</label>
                                        <select class="form-control" ng-model="newPlayer.specPosition">
                                          <option>GK</option>
                                          <option>CB</option>
                                          <option>RB</option>
                                          <option>LB</option>
                                          <option>CDM</option>
                                          <option>CM</option>
                                          <option>CAM</option>
                                          <option>RW</option>
                                          <option>LW</option>
                                          <option>ST</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-md" ng-click="closeModal()">Create
                                    </button>
                                    <button type="button" class="btn btn-default btn-md pull-right" ng-click="cancelCreating(); closeModal()">Cancel</button>
                                </form>
                            </div> <!-- end create player -->

                          </div>
                        </div>
                    </div>
                    <!-- end player details section -->



                

                <!-- start player printing -->
                    <!-- <div class="col-sm-3 col-xs-4" ng-class="{'active':isSelectedPlayer(player.id)}" ng-repeat="player in players | filter:{position:currentPosition.title} | filter:{player:searchResults.name} | orderBy:'squadNo'"> -->
                    <div class="col-sm-4 col-xs-6 col-md-4 col-lg-3 paddingBottom" ng-class="{'active':isSelectedPlayer(player.id)}" ng-repeat="player in players | filter:{position:currentPosition.title} | filter: searchInput | filter: playerFilter | orderBy: playerSort">
                        <img ng-click="setPlayerDetails(player)" src="{{player.url}}" class="img-thumbnail responsive-img" data-toggle="modal" data-target="#playerDetailsModal">
                        
                        <p class="playerNameText text-left" target="_blank">{{player.squadNo}}
                            <span class="playerNameText text-center" target="_blank">{{player.nameF}} {{player.nameL}}</span>
                        </p>
                        
                        
                        
                    </div> <!-- end player printing -->
                    <hr>

                    <!-- player details section -->
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="playerDetailsModal">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="playerModal" class="pull-left">{{selectedPlayer.squadNo}}. {{selectedPlayer.nameF}} {{selectedPlayer.nameL}}
                                <button type="button" ng-click="deletePlayer(selectedPlayer);closeModal()" data-toggle="modal" class="btn btn-link pull-right">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <button type="button" ng-click="setEditedPlayer(selectedPlayer);startEditing();" class="btn btn-link pull-right">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                </h3>
                            </div>
                            <div class="modal-body" ng-show="shouldShowPlayerDetails()">
                                <h5>Category: {{selectedPlayer.position}}</h5>
                                <h5>Position: {{selectedPlayer.specPosition}}</h5>
                                <h5>Nationality: {{selectedPlayer.nationality}}</h5>
                                <img src="{{selectedPlayer.url}}" class="img-responsive-height">
                            </div>
                            
                            <!-- editing section -->
                            <div class="modal-body" ng-show="shouldShowEditing()" class="col-sm-12">
                                <div class="modal-header">
                                <h4>Editing {{editedPlayer.nameF}} {{editedPlayer.nameL}}</h4> </div>
                                    
                                <form class="edit-form" role="form" ng-submit="updatePlayer(editedPlayer)" novalidate> <!-- form to create player -->
                                    <div class="form-group">
                                        <label><i class="fa fa-user-circle-o"></i> First Name</label>
                                        <input type="text" class="form-control" ng-model="editedPlayer.nameF"
                                    </div><br>

                                    <div class="form-group">
                                        <label><i class="fa fa-user-circle-o"></i> Last Name</label>
                                        <input type="text" class="form-control" ng-model="editedPlayer.nameL"
                                    </div><br>

                                    <div class="form-group">
                                        <label><i class="fa fa-picture-o"></i> Picture</label>
                                        <input type="text" class="form-control" ng-model="editedPlayer.url"
                                    </div><br>

                                    <div class="form-group">
                                        <label><i class="fa fa-star"></i> Squad Number</label>
                                        <input type="text" class="form-control" ng-model="editedPlayer.squadNo"
                                    </div><br>

                                    <div class="form-group">
                                        <label><i class="fa fa-flag"></i> Nationality</label>
                                        <input type="text" class="form-control" ng-model="editedPlayer.nationality"
                                    </div><br>

                                    <div class="form-group">
                                        <label for="editedPlayerPosition"><i class="fa fa-cog"></i> Position Category</label>
                                        <select class="form-control" ng-model="editedPlayer.position">
                                          <option>Goalkeepers</option>
                                          <option>Defenders</option>
                                          <option>Midfielders</option>
                                          <option>Forwards </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="editedPlayerPosition"><i class="fa fa-cogs"></i> Player Position</label>
                                        <select class="form-control" ng-model="editedPlayer.specPosition">
                                          <option>GK</option>
                                          <option>CB</option>
                                          <option>RB</option>
                                          <option>LB</option>
                                          <option>CDM</option>
                                          <option>CM</option>
                                          <option>CAM</option>
                                          <option>RW</option>
                                          <option>LW</option>
                                          <option>ST</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-md" ng-click="closeModal()">Update
                                    </button>
                                    <button type="button" class="btn btn-default btn-md pull-right" ng-click="cancelEditing(); closeModal()">Cancel</button>
                                </form>
                            </div> <!-- end player editing -->





                        </div>
                      </div>
                    </div>
                    <!-- end player details section -->


                 
                

                </div> <!-- end list of players -->

                
            </div> <!-- end row -->
        </div> <!-- end container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="app/arsenal-app.start.js"></script>
        <!-- <script src="https://use.fontawesome.com/ef7dd8feb2.js"></script> -->
        <!-- <script src="app/route.js"></script> -->

        <script> //script for modal
            $('#playerDetailsModal').on('shown.bs.modal', function () {
              $('#myInput').focus()
            });
        </script>


    </body>
</html>